<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Desclution - Contact</title>
        <link rel="icon" href="DesclutionLogo.png">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header id="mainHeader">
            <nav id="mainNav">
                <div id="navTitleWrapper">
                    <img src="DesclutionLogo.png" id="navLogo"><h1>Desclution</h1>
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Info</a></li>
                    <li><a href="#">Submit</a></li>
                    <li><a href="#">Release Schedule</a></li>
                    <li><a href="#">contact</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>