<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Desclution - Home</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
        <link rel="icon" href="DesclutionLogo.png">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <header id="mainHeader">
                <nav id="mainNav">
                    <div id="navTitleWrapper">
                        <img src="DesclutionLogo.png" id="navLogo"><h1>Desclution</h1>
                    </div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Info</a></li>
                        <li><a href="pages/new">Submit</a></li>
                        <li><a href="#">Release Schedule</a></li>
                        <li><a href="pages/contact">contact</a></li>
                        <li><a href="pages/submissions">Submissions</a></li>
                    </ul>
                </nav>
            </header>
            <div class="container">
                <div id="titleWrapper">
                    <img src="DesclutionLogo.png"><h1>Desclution</h1>
                </div>
                <div id="scrollDown">
                    <a href="#latestRelease">
                        <h6>Scroll down</h6><i class="fas fa-arrow-down"></i>
                    </a>
                </div>
            </div>
            <div class="container" id="latestReleaseWrapper">
                <div id="latestRelease">
                    <h1>Check out our latest release!</h1>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gMEXFxkuLKc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </body>
</html>